<%= flash[:notice] %>
        <p id="notice"></p>
        <div class="container px-5 px-sm-0">
            <div class="row">
                <div class="col-md-3">
                    <h2>User info</h2>
                    <%= image_tag current_user.get_profile_image(100,100) %>
                    <table class="table">
                        <tbody>
                            <tr></tr>
                            <tr>
                                <th>name</th>
                                <th><%= @user.name %></th>
                            </tr>
                            <tr>
                                <th>introduction</th>
                                <th><%= @user.introduction %></th>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="row">
                         <%= link_to edit_user_path(current_user.id),class:"btn btn-outline-secondary btn-block edit_user_path" do %>
                         <i class="fas fa-user-cog"></i> 
                         <% end %>
                    </div>
                    
                    
                <h2 class="mt-3">New book</h2>
                <%= form_with model: @book do |f| %>
                <div class="form-group">
                        <label for="book_title">Title</label>
                        <%= f.text_field :title,class:"form-control book_title" %>
                    </div>
                    
                    <div class="form-group">
                        <label for="book_opinion">Opinion</label>
                        <%= f.text_area :body,class:"form-control book_body" %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.submit 'Create Book',class:"btn btn-success" %>
                </div>
            </div>
            <% end %>
        <div class="col-md-8 offset-md-1">
             <h2>Book detail</h2>
             <table class="table table-hover table-inverse">
                 
                     <tbody>
                         <tr>
                             <td><%= link_to user_path(@user) do %><%= image_tag @user.get_profile_image(100,100) %><% end %>
                                 <br><%= link_to @user_path do %><%= @user.name %><% end %>
                             </td>
                             <td><%= link_to @book_path do %><%= @book.title %><% end %></td>
                             <td><%= @book.body %></td>
                             <% if @book.user == current_user %>
                                 <td><%= link_to edit_book_path,class:"btn btn-sm btn-success edit_book_52720" do %>Edit<% end %></td>
                                 <td><%= link_to @books_path do %>
                                 <a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_52720" rel="nofollow" data-method="delete">
                                 destroy<% end %></td></a>
                             <% end %>
                     </tr>
                 </tbody>
             </table>
         </div>
        </div>
    </div>
   